<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Climate API</title>
</head>

<body>
    <p>API Endpoints</p>
    <a href="/api/v1.0/precipitation">Precipitation</a> <br>
    <a href="/api/v1.0/stations">Stations</a><br>
    <a href="/api/v1.0/tobs">Tobs</a><br>
    <a href="/api/v1.0/2016-01-01">Start Date</a><br>
    <a href="/api/v1.0/2016-01-01/2017-01-01">Start & End Dates</a><br>


</body>

</html>